AZURE_LOCATION=centralindia
AZURE_RESOURCE_GROUP=rg-medlake-dev
DATABRICKS_HOST=
DATABRICKS_CLIENT_ID=
EVENTHUB_BOOTSTRAP_SERVERS=
EVENTHUB_NAME=
EVENTHUB_SASL_USERNAME=$ConnectionString
EVENTHUB_SASL_PASSWORD=
CATALOG=medlake
BRONZE_SCHEMA=bronze
SILVER_SCHEMA=silver
GOLD_SCHEMA=gold
